<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <button id="dark-mode-toggle" class="dark-mode-toggle" aria-label="Toggle dark mode"></button>
    <a href="#" id="back-to-top" class="back-to-top" title="Back to Top">&uarr;</a>

    <script src="{{ "/assets/js/dark-mode.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/scroll-animation.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/back-to-top.js" | relative_url }}"></script>

  </body>

</html>